.html-menu {
	margin: 5rem;
	font-size: 2rem;
	&__title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.react-menu {
	margin: 5rem;
	font-size: 2rem;
	&__title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	&__option {
		text-decoration: capitalize;
	}
}